<div *ngIf="!error">
  <div *ngIf="countryName">
    <h1 class="details-title">GDP History for the {{countryName}}</h1>
    <app-details-chart [countryData]="countryData$ | async"></app-details-chart>
  </div>
  <app-loading-indicator *ngIf="!countryName"></app-loading-indicator>
</div>
<app-error-indicator *ngIf="error"></app-error-indicator>
