.header {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: rgb(136, 136, 136);
  display: block;
  margin: 8px auto 16px auto;
  overflow: hidden;
  width: 90%;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  transition: all 0.2s;
}

.header > ul > li > a {
  color: rgb(136, 136, 136);
  display: block;
  line-height: 56px;
  padding: 0 24px;
  text-decoration: none;
  border-right: 1px solid rgb(222, 222, 222);
}

.header > ul > li > a.active {
  background-color: rgba(51, 196, 240, 0.2);
}

.header > ul > li:hover {
  background-color: rgba(51, 196, 240, 0.1);
}
