<h1 class="list-title">GDP Values across the world</h1>
<div *ngIf="!error">
  <app-country-list
    *ngIf="freshCountryData.length"
    [countryList]="freshCountryData"
    [sorting]="sort"
    [direction]="direction"
    (sortChange)="handleSortChange($event)"></app-country-list>
  <app-loading-indicator *ngIf="!freshCountryData.length"></app-loading-indicator>
</div>
<app-error-indicator *ngIf="error"></app-error-indicator>
