.country-list-body > tr:hover {
  background-color: rgba(51, 196, 240, 0.1);
  transition: background-color .2s ease-in;
}

.country-list-row th {
  cursor: pointer;
}

.country-list-row > th.active {
  color: rgba(51, 196, 240, 1)
}

.country-list-row > th.active.ascending::after {
  content: '▲'
}

.country-list-row > th.active.descending::after {
  content: '▼'
}

.country-list-row th:first-child {
  padding-left: 10px
}

.country-list-row th:last-child {
  padding-right: 10px;
}
