<table>
  <thead>
    <tr class="country-list-row">
      <th (click)="handleTableHeadClick(sortOptions.COUNTRY_CODE)" [class]="getClass(sortOptions.COUNTRY_CODE)">Country Code</th>
      <th (click)="handleTableHeadClick(sortOptions.COUNTRY_NAME)" [class]="getClass(sortOptions.COUNTRY_NAME)">Country Name</th>
      <th (click)="handleTableHeadClick(sortOptions.GDP)" [class]="getClass(sortOptions.GDP)">GDP Value</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody class="country-list-body">
    <tr
      app-country-list-item
      *ngFor="let country of countryList"
      [code]="country['Country Code']"
      [name]="country['Country Name']"
      [gdp]="country.Value"
      [date]="country.Year"
      class="country-list-row"
    ></tr>
  </tbody>
</table>
